<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WorkOrderEntities" connectionString="metadata=res://*/WorkOrderModel.csdl|res://*/WorkOrderModel.ssdl|res://*/WorkOrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SOYHAN\SQLEXPRESS2008;Initial Catalog=WorkOrder;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>